.navbar {
	position: sticky;
	top: 0;
	background: #f9f9f9;
	z-index: 1000;
	width: 100%;
}

.nav-container {
	display: flex;
 	width: 100%;
	padding: 8px 16px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
}